.recharts-cartesian-axis.yAxis {
    width: 150%;
    background-color: green;
}

.recharts-cartesian-axis-tick {    
    font-size: 0.75rem;
    /*font-family: Roboto, sans-serif;*/
}

.recharts-legend-wrapper {
    font-size: 0.85rem;
}