.sticky-wrapper {
    width: calc((100% / 12 * 4) - 10px);
    min-height: 100vh;
}
.side-nav-wrapper {
    width: 100%;
    top: 0;
    margin-right: 10px; 
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    box-sizing: border-box;
    max-height: 90vh;
    overflow: scroll;
}

.side-nav {
    width: 100%;
}

.side-nav-wrapper ul {
    padding: 20px 10px;
    list-style: none;
}

.side-nav-wrapper li {
    text-align: left;
}

.side-nav-wrapper li a {
    color: #623296;
    text-decoration: none;
}

li.is-current >a {
   color: #000;
   font-weight: 700;
}
li.is-current >.item-title::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px 1px 0;
    background-color: #623296;
    color: #623296;
}

.item-title {
    font-size: 12px;
}

@media (max-width: 768px) {
    .sticky-wrapper {
        display: none;
    }
}